#home {
  height: 100vh;
  background-color: #312d2a;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
}

.home-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}

.content {
  text-align: center;
}

.center {
  display: inline-block;
}

.typewrite {
  color: #fff;
  font-family: monospace;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}
