#home {
  height: 100vh;
  background-color: #222831;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
}

.home-section {
  display: flex;
  justify-content: flex-end; /* Align content to the right */
  align-items: center; /* Center vertically */
  height: 50vh; /* Ensure the section takes the full viewport height */
}

.col {
  width: 50%;
}

.text-content {
  text-align: right; /* Align text to the right */
  padding-right: 500px; /* Add padding for better spacing */
}

.image-content {
  display: flex;
  justify-content: center; /* Center image horizontally */
  align-items: center; /* Center image vertically */
}

.typewrite {
  color: #fff;
  font-family: monospace;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}
